---
layout: layouts/home.njk
templateClass: page--articles
tags:
  - nav
navtitle: Articles
navOrder: 1
permalink: /archive/
---

{% set postslist = collections[ "article" ] %}
{% include "postslist.njk" %}