---
layout: layouts/home.njk
templateClass: page--home
---

{% set postslist = collections.articles | head(-7) %}
{% include "postslist.njk" %}

<p class="archivetext">More articles can be found in <a href="{{ '/archive/' | url }}">the archive</a>.</p>