---
permalink: /manifest.json
excludeFromSitemap: true
---
{
  "lang": "en",
  "name": "justmarkup",
  "short_name": "justmarkup",
  "icons": [
    {
      "src": "https://justmarkup.com/log/wp-content/themes/justmarkup.com/src/img/icon.png",
      "sizes": "300x300",
      "type": "image/png"
    }
  ],
  "start_url": "/?pwa",
  "display": "minimal-ui",
  "background_color": "#ffffff",
  "theme_color": "#089b52"
}
