---
layout: layouts/home.njk
templateClass: page--article
tags:
  - nav
navtitle: Reading
navOrder: 5
---

<h1>Reading list</h1>

<p>A list of pages I added to Pocket. You can follow this 
  <a href="/feed/reading.xml" target="_blank">
    RSS feed
    <svg aria-hidden="true" class="icon" viewBox="0 0 32 32">
      <circle cx="5" cy="27" r="5" fill="currentColor" stroke="none" />
      <circle cx="0" cy="32" r="18" stroke-width="7" />
      <circle cx="0" cy="32" r="28" stroke-width="7" />
    </svg>
  </a> to get notified whenever I add a page.
</p>

{% if pocket.length %}
  <ul class="reading-list teaser">
  {%- for entry in pocket | reverse %}
    <li>
      <h2><a href="{{ entry.given_url }}">{{ entry.resolved_title }}</a></h2>
      <p>{{ entry.excerpt }}</p>
    </li>
  {%- endfor %}
  </ul>
{%- endif %}
