---
permalink: feed/feed.xml
excludeFromSitemap: true
---
<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>justmarkup</title>
	<atom:link href="https://justmarkup.com/log/feed/" rel="self" type="application/rss+xml" />
	<link>https://justmarkup.com/log</link>
	<description></description>
	<lastBuildDate>{{ collections.all | rssLastUpdatedDate }}</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.10</generator>
		{% set posts = collections.all %}
		{%- for post in posts | reverse %}
			{% if post.data.title %}
				{% for tag in post.data.tags %}
					{%- if tag == "article" or tag == "note" -%}
						{% if post.data.oldUrl %}
							{% set absolutePostUrl %}{{ post.data.oldUrl}}{% endset %}
						{% else %}
							{% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
						{% endif %}
						
						<item>
							<title>{{ posta.data.tags}} {{ post.data.title }}</title>
							<link>{{ absolutePostUrl }}</link>
							<pubDate>{{ post.date | rssDate }}</pubDate>
							<guid isPermaLink="false">{{ absolutePostUrl }}</guid>
							<content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
						</item>
					{%- endif -%}
				{% endfor %}
				
			{% endif %}
		{%- endfor %}
	</channel>
</rss>