/*

$green: #089b52;
$black: #111;
$white: #fff;
*/

:root {
    background-color: white;
    color: #111;
}

* {
    box-sizing: border-box;
    color: inherit;
}

*::before,
*::after {
    box-sizing: inherit
}

@media screen and (prefers-reduced-motion: reduce) {
    *,
    *:before,
    *:after {
        transition: none !important;
        animation: none !important;
    }
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23c9d1cb' fill-opacity='0.16'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html,
body {
    height: 100%;
    margin: 0;
}

main {
    margin: 40px auto;
    max-width: 800px;
    min-height: 80vh;
    padding: 0 14px;
    min-height: calc(100vh - 240px);
}

img,
video {
    max-width: 100%;
    height: auto;
}

[hidden] {
    display: none !important;
}

p,
time,
li {
    font-size: 1.2rem;
}

blockquote {
    border-left: 6px solid #089b52;
    margin: 0;
    padding: 0 0 0 16px;
}

pre {
    background: rgba(18, 27, 23, .9);
    color: #fff;
    padding: 20px;
    width: 100vw;
    max-width: 1000px;
    margin-left: -100px;
    position: relative;
    overflow-x: auto;
    font-size: 1.1em;
    line-height: 1.3;
    text-align: left;
}

pre mark {
    color: #111;
}

@media all and (max-width: 900px) {
    pre {
        padding: 14px;
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}

::-moz-selection {
    color: #111;
    background: #089b52;
}

 ::selection {
    color: #111;
    background: #089b52;
}

.permalink {
    text-decoration: none;
    color: #089b52;
}

.permalink:hover,
.permalink:focus {
    background: #089b52;
    color: #000;
}


/* header */

.logo {
    margin: 20px auto 0 auto;
    display: block;
    height: 90px;
    width: 110px;
}

.logo polyline {
    transition: all 200ms;
}

.logo:hover polyline,
.logo:focus polyline {
    transform: rotate(-172deg);
    transform-origin: center center;
}

.logo:focus {
    outline: none;
}

.nav {
    margin: 0;
    padding: 1em 0 0 0;
    list-style: none;
    text-align: center;
}

.nav__item {
    display: inline-block;
}

.nav__link {
    font-size: 1.2rem;
    padding: 0.4em 0.8em;
    display: inline-block;
    transition: all 240ms ease-out;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.nav__link:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #089b52;
    background: linear-gradient(to bottom, #089b52, #13c772);
    transition: all 240ms ease-out;
    transform: translateY(-100%);
    z-index: -1;
    border-radius: 0 0 2px 2px;
}

.nav__link:hover:after,
.nav__link:focus:after {
    transform: translateY(0);
}

.nav__link:hover,
.nav__link:focus {
    color: #fff;
    outline: none;
}

.nav__item--active .nav__link {
    border-bottom: 2px solid #089b52;
}


/* footer */

footer {
    background: rgba(18, 27, 23, 0.9);
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    margin: 140px 0 0 0;
    font-size: 1.2em;
    position: relative;
}

footer time {
    font-size: 1em;
}

footer a:hover,
footer a:focus {
    outline: none;
    background: #fff;
    color: #111;
}

footer:before {
    content: "Congrats! You reached the end of the page.";
    content: "<footer>";
    position: absolute;
    top: -32px;
    color: rgba(18, 27, 23, 0.9);
    text-align: center;
    left: 0;
    right: 0;
    font-weight: bold;
    font-size: 1.5em;
}


/* article page */

.page--article {
    overflow-x: hidden;
    overflow-y: auto;
}

.page--article h1 {
    margin: 0;
    padding: 40px 0 0 0;
    position: relative;
    font-size: 2.6em;
    color: #555;
}

.page--article h2 {
    font-size: 1.8em;
}

.page--article h3 {
    font-size: 1.6em;
}

.page--article h1:after {
    content: "";
    background: #089b52;
    width: 80vw;
    height: 4px;
    display: block;
}

.page--article .article__content p,
.page--article .article__content li {
    font-size: 1.3em;
    line-height: 1.4;
}

.page--article .article__content img {
    padding: 0 20px;
    width: 1000px;
    max-width: 100%;
    margin-left: -100px;
    position: relative;
}

@media all and (max-width: 900px) {
    .page--article .article__content img {
        padding: 14px;
        width: 100vw;
        max-width: 100%;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}

.page--article .article__content a:focus,
.page--article .article__content a:hover {
    outline: none;
    background: #089b52;
}

.article__date {
    display: block;
    padding: 0.3em 0;
}


/* article teaser */

.teaser {
    margin: 0;
    padding: 0 0 40px 0;
    list-style: none;
}

.teaser__item {
    margin-bottom: 1em;
}

.teaser__title {
    font-size: 1.6rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    border-bottom: 1px solid;
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0.1em;
}

.teaser__title:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #089b52;
    background: linear-gradient(to right, #089b52, #13c772);
    transition: all 240ms ease-out;
    transform: translateX(-100%);
    z-index: -1;
}

.teaser__title:hover:after,
.teaser__title:focus:after {
    transform: translateX(0);
}

.teaser__title:focus,
.teaser__title:hover {
    outline: none;
    border-color: #089b52;
}

.teaser__item:first-of-type .teaser__title {
    font-size: 2rem;
}

.teaser__date {
    display: block;
}

.archivetext {
    text-align: center;
    font-size: 1.4em;
}

.archivetext a:hover,
.archivetext a:focus {
    outline: none;
    background-color: #089b52;
}


/**
 * atom-dark theme for `prism.js`
 * Based on Atom's `atom-dark` theme: https://github.com/atom/atom-dark-syntax
 * @author Joe Gibson (@gibsjose)
 */

code[class*="language-"],
pre[class*="language-"] {
    font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

 :not(pre)>code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #b2b1b1;
}

.token.punctuation {
    color: #c5c8c6;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.keyword,
.token.tag {
    color: #96CBFE;
}

.token.class-name {
    color: #FFFFB6;
    text-decoration: underline;
}

.token.boolean,
.token.constant {
    color: #99CC99;
}

.token.symbol,
.token.deleted {
    color: #f92672;
}

.token.number {
    color: #FF73FD;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #A8FF60;
}

.token.variable {
    color: #C6C5FE;
}

.token.operator {
    color: #EDEDED;
}

.token.entity {
    color: #FFFFB6;
    /* text-decoration: underline; */
}

.token.url {
    color: #96CBFE;
}

.language-css .token.string,
.style .token.string {
    color: #87C38A;
}

.token.atrule,
.token.attr-value {
    color: #F9EE98;
}

.token.function {
    color: #DAD085;
}

.token.regex {
    color: #E9C062;
}

.token.important {
    color: #fd971f;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}


/* carbon ads */

#carbonads,
.feediary {
    display: block;
    overflow: hidden;
    padding: 10px;
    font-family: Verdana, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.5;
    width: 130px;
    width: calc(130px + 2em);
    float: right;
    background: #eee;
    margin-left: 20px;
    margin-bottom: 20px
}

.feediary a {
    text-decoration: none;
}

.feediary img {
    max-width: 100px;
}

.feediary .trynow {
    background: #d83d7b;
    color: #fff;
    border-color: #d83d7b;
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
}

.feediary .trynow:hover,
.feediary .trynow:focus {
    color: #fff;
    background: #f3458b;
    border-color: #f3458b;
}

.feediary h2 {
    font-family: Verdana, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.2em;
    margin: 4px 0 8px 0;
    line-height: 1.3;
}

.feediary p {
    font-family: Verdana, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1em;
    margin: 0;
}

#carbonads span {
    display: block;
    overflow: hidden
}

.carbon-img {
    display: block;
    margin: 0 auto 5px;
    text-align: center
}

.carbon-text {
    display: block;
    margin-bottom: 15px;
    text-align: left;
    color: #222;
    font-size: 16px;
    text-decoration: none;
    font-family: Verdana, "Helvetica Neue", Helvetica, sans-serif;
    transition: all 300ms
}

.carbon-text:hover {
    color: #000
}

.carbon-poweredby {
    display: block;
    text-align: right;
    font-size: 13px;
    color: #444;
    text-decoration: none;
    font-family: Verdana, "Helvetica Neue", Helvetica, sans-serif
}

.carbon-poweredby:hover {
    color: #222
}

@media all and (max-width: 500px) {
    #carbonads,
    #feediary {
        width: auto;
        margin-left: 0;
        margin-top: 20px
    }
    .carbon-img {
        float: left;
        margin-right: 10px;
        margin-bottom: 0
    }
    .carbon-text {
        font-size: 14px
    }
}

@media all and (min-width: 1200px) {
    #carbonads,
    #feediary {
        margin-right: -200px;
    }
}

.carbon-text {
    font-size: 12px;
}

a.carbon-poweredby {
    font-size: 10px;
}

#carbonads a {
    padding: 0.2em;
}

#carbonads a:focus,
#carbonads a:hover {
    outline: none;
    background: #fff;
}


/* svg icons */

.icon {
    stroke: currentColor;
    width: 1rem;
    height: 1rem;
    fill: none;
}


/* about */

.about__img {
    border-radius: 50%;
    margin: 20px auto 40px auto;
    display: block;
}

.hireme {
    border: 8px solid #089b52;
    padding: 0 20px 20px 20px;
    margin: 40px auto;
}


/* skip link */

.skiplink {
    background: #089b52;
    padding: 1em;
    display: inline-block;
    color: #fff;
    position: absolute;
    top: 0;
    outline: none;
}

.skiplink:not(:focus):not(:active) {
    clip: rect(0 0 0 0) !important;
    clip-path: inset(100%) !important;
    height: 1px !important;
    opacity: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    white-space: nowrap;
    width: 1px !important;
}

[tabindex="-1"]:focus {
    outline: 2px solid #089b52;
}


/* back to top link */

.backtotop {
    float: right;
    padding: 10px;
    font-size: 1.3em;
    text-decoration: none;
    border-bottom: 1px solid #111;
}

.backtotop:hover,
.backtotop:focus {
    outline: none;
    background: #089B55;
    color: #fff;
    text-decoration: none;
}

.backtotop .icon {
    fill: #111;
    stroke: #111;
}

.backtotop:hover .icon,
.backtotop:focus .icon {
    fill: #fff;
    stroke: #fff;
}


/* share link/button */

.shareit {
    background: #089B55;
    color: #fff;
    text-decoration: none;
    border: 2px solid #089B55;
    transition: all 240ms ease-out;
    padding: 10px;
    margin-top: 20px;
    font-size: 1.2em;
    display: inline-block;
}

.shareit:hover,
.shareit:focus {
    outline: none;
    background: none;
    color: #111;
}


/* webmentions */

.webmentions {
    padding-top: 20px;
}

.webmentions__list {
    margin: 0;
    padding: 0;
}

.webmentions__item {
    list-style: none;
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 2px dotted #999;
}

.webmention__author {
    display: flex;
    align-items: center;
}

.webmention__author__photo {
    width: 60px;
    border-radius: 10px;
    border-radius: 10px 60px 10px / 20px 10px 30px;
    margin-right: 10px;
}

.webmention__pubdate {
    display: block;
    padding: 6px 0;
    font-size: 0.9em;
}

.infobox {
    background: #eee;
    padding: 12px;
    margin: 30px 0 20px 0;
    background: linear-gradient(to right, #089b52, #292e49);
    color: #fff;
}