{%- set absoluteUrl -%}{{ page.url | url | absoluteUrl(metadata.url) }}{%- endset -%}
{%- set mentions = webmentions.children | webmentionsForUrl(absoluteUrl) -%}
{% if mentions | length %}
    <div class="webmentions" id="webmentions">
    <h3>Webmentions</h3>

        <ol class="webmentions__list">
        {% for webmention in mentions | reverse %}
            <li class="webmentions__item">
            {% include 'webmention.njk' %}
            </li>
        {% endfor %}
        </ol>
    
    </div>
{% endif %}