---
layout: layouts/base.njk
templateClass: page--article
---
<article class="h-entry" itemscope itemtype="https://schema.org/BlogPosting">
    <h1 class="p-name" itemprop="title">{{ title }}</h1>
    <time itemprop="dateCreated pubdate datePublished" class="article__date dt-published" datetime="{{ date }}">{{ date | readableDate }}</time>

    <div class="article__content e-content">
        {{ content | safe }}
    </div>
</article>

