---
layout: layouts/base.njk
templateClass: page--article
---
<article class="h-entry" itemscope itemtype="https://schema.org/BlogPosting">
    <h1 class="p-name" itemprop="title">{{ title }}</h1>
    <time itemprop="dateCreated pubdate datePublished" class="article__date dt-published" datetime="{{ date }}">{{ date | readableDate }}</time>

    <div id="carbon_wrapper"></div>

    <div class="article__content e-content">
        {{ content | safe }}
    </div>
</article>

<a class="mug-container" href="https://www.buymeacoffee.com/justmarkup">
  <div class="mug-coffee">
    <div class="smoke-container">
      <svg width="80px" height="73px" viewbox="0 0 31 73">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g class="smokes" transform="translate(2.000000, 2.000000)" stroke="#BEBEBE" stroke-width="5">
            <g class="smoke-1">
              <path id="Shape1" d="M0.5,8.8817842e-16 C0.5,8.8817842e-16 3.5,5.875 3.5,11.75 C3.5,17.625 0.5,17.625 0.5,23.5 C0.5,29.375 3.5,29.375 3.5,35.25 C3.5,41.125 0.5,41.125 0.5,47"></path>
            </g>
            <g class="smoke-2">
              <path id="Shape2" d="M0.5,8.8817842e-16 C0.5,8.8817842e-16 3.5,5.875 3.5,11.75 C3.5,17.625 0.5,17.625 0.5,23.5 C0.5,29.375 3.5,29.375 3.5,35.25 C3.5,41.125 0.5,41.125 0.5,47"></path>
            </g>
            <g class="smoke-3">
              <path id="Shape3" d="M0.5,8.8817842e-16 C0.5,8.8817842e-16 3.5,5.875 3.5,11.75 C3.5,17.625 0.5,17.625 0.5,23.5 C0.5,29.375 3.5,29.375 3.5,35.25 C3.5,41.125 0.5,41.125 0.5,47"></path>
            </g>
          </g>
        </g>
      </svg>
    </div>
    <div class="mug"></div>
  </div>
  <p class="mug-text">Like what you read? Support me!</p>
</a>

<web-share-wrapper>
<a href="https://twitter.com/intent/tweet?text={{ title }}&amp;url=https://justmarkup.com/{{ page.url }}" class="shareit">Share on Twitter</a>
</web-share-wrapper>

<script type="module" defer src="/js/webshare.js"></script>

{% include "webmentionlist.njk" %}



<script>
var doNotTrack = (navigator.doNotTrack === "1" || navigator.doNotTrack === "yes" || navigator.msDoNotTrack === "1" || window.doNotTrack === "1");
if (!doNotTrack) {
    var adScript = document.createElement('script');
    adScript.async = true;
    adScript.src = 'https://cdn.carbonads.com/carbon.js?serve=CKYILK7M&placement=justmarkupcom';
    adScript.id = '_carbonads_js';
    document.getElementById('carbon_wrapper').appendChild(adScript);
}
</script>
